
body {
  background: #525252;
  /* padding: 1%; */
  font: 1/1.5em sans-serif;
  text-align: center;
}

h1,h2,h3,h4,p{
  color: white;
  text-align: center;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] { 
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
} 

/* Header */
.header{
  background-color: #333;
  text-align: center;
  font-size: 60px;
  color: white;
  padding: 50px;
}

.pure-g > div {
  box-sizing: border-box;
} 


  /* MAIN ID's */
#type-workout{
  text-align: center;
  padding: 20px;
}

h2 {
  color: white;
  /* padding: 10px; */
  font-size: 40px;
}
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
      
/* li {
  float: right;
  padding: 0 10px;
}
      
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
      
li a:hover {
  background-color: #111;
} */
  
#final-buttons {
  text-align: center;
}

#exercise-modal {
  padding: 15px;
  background-color: antiquewhite;
  color: #333;
  margin: auto;
  justify-content: center;
  width: 60%;
  border: 2px solid black;
}

.container {
  
}

.modal {
  position: fixed;
  margin: auto;	
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.171);
  box-sizing: border-box;
  z-index: 9999;
}

.hide{
  display: none;
}
.show{
  display: block;
}

#search-bar {
  width: 30%;
  border-right: 1px solid black
  /* padding: 5px */
}

#filter-bar {

}

h4 {
  color: #333;
  height: 20px;
  margin: 5px 3px;
  border-bottom: .5px solid black;
}

#text-bar {
  height: 20px;
  margin: 5px 5px;
  width: auto;
}

#exercises {
  width: 60%;
}

h5 {
  font-size: 20px;
  height: 30px;
  border-bottom: .5px solid black;
  margin: 0px 10px;
}





















/* for exercise cards */
 /* #chosen-exercises .ui-selecting { background: #FECA40; }
    #chosen-exercises .ui-selected { background: #F39814; color: white; } */
#chosen-exercises li {
  list-style-type: none;
  margin: 3px;
  padding: 1px;
  float: left;
  width: 100px;
  height: 80px;
  font-size: 1em;
  text-align: left;
  background: gray;
}
    
.overlay {
  -webkit-filter: brightness(50%);
}

/* below is for the exercise cards */

#chosen-list { 
  background: #525252; 
  border-radius: 10px; 
  list-style-type: none; 
  margin: 0; 
  padding: 10px; 
  width: 100%; 
}

#chosen-list li { 
  border-radius: 10px; 
  padding: 0; 
  float:none; 
  position: relative; 
  margin: 0; 
  height: auto; 
  width: 100%;
}
/* #chosen-list img { position: absolute; float: right;} */
#chosen-list p {
  color: black; 
  font-size:1.5vw;
  text-align: left;
}
/* #chosen-list .content {position: relative;} */
#chosen-list button {
  position: absolute; 
  top:0; 
  right: 0; 
  border-radius: 0 10px 0 0;
}
  
#chosen-exercises {
  width: 50%; 
  margin: 0; 
  padding: 0;
}

#sets, #reps {
  width: 50px;
}
  
