
body {
    background: #525252;
}
h1,h2,h3,h4,p{
    color: white;
    text-align: center;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, Times, "Times New Roman", serif;
}

/* Header */
.header{
    background-color: #333;
text-align: center;
font-size: 60px;
color: white;
padding: 50px;
}


.pure-g > div {
    box-sizing: border-box;
}


           /* MAIN ID's */
#type-workout{
    text-align: center;
    padding: 20px;
}
#time-workout{
    text-align: center;
    padding: 20px;
}
#welcome-question{
    color: white;
    padding: 10px;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    padding: 0 10px;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  .hide {
      display: none;
  }
  #chosen-list { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #chosen-list li { padding: 0; float:none; position: relative; margin: 0 3px 3px 3px; height: auto; width: 100%;}
  /* #chosen-list img { position: absolute; float: right;} */
  #chosen-list p {color: black; font-size:1.5vw;text-align: left;}
  /* #chosen-list .content {position: relative;} */
  #chosen-list button {position: absolute; top:0; right: 0;}
  
  #chosen-exercises {width: 40%;}
  #sets, #reps {width: 50px;}
  